{% for item in devices[ansible_host] %}
interface {{ item.name }}
  description {{ item.description }}
  ip address {{ item.address }} {{ item.mask }}
{% if item.mbps != "" %}
  service-policy input {{ item.mbps }}Mb
  service-policy output {{ item.mbps }}Mb
{% endif %}
  no shutdown
  exit
{% endfor %}
